// $icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Pacifico);

// mb fonts
$font-pacifico: 'Pacifico', cursive;
$font-lato: 'Lato', Calibri, Arial, sans-serif;
$font-gibson: url("../fonts/Gibson-SemiBold-webfont.woff");

@font-face{
    font-family: "gibson";
    src: url("../fonts/Gibson-SemiBold-webfont.woff");
}

.mb-font-pacific{
    font-family: $font-pacifico;
}

// mbx colors
$cor-red-1 : #FF3333;
$cor-blue-1 : #0099FF;
$cor-yellow-1 : #FFCC66;
$cor-orange-1: #f2992e;
$cor-black-1: #2d2d2d;
$cor-white-1: #f4f4f4;
.mb-cor-white{color: $cor-white-1 !important;}
.mb-cor-orange{color: $cor-orange-1 !important;}
.mb-cor-black{color: $cor-black-1 !important;}

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@function shadow($mb-shadow) {
    @if $mb-shadow == 1 {
        @return 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    } @else if $mb-shadow == 2{
        @return 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    } @else if $mb-shadow == 3{
        @return 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    } @else if $mb-shadow == 4{
        @return 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }@else{
        @return 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
}
small{
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    align-items: center;
    display: flex;
    font-family: "gibson";
    justify-content: center;
    font-weight: 700;
    margin: 0;
    padding:0;
}
h1{font-size: 10vw;}
h2{font-size: 7.5vw;}
h3{font-size: 5.5vw;}
h4{font-size: 3.5vw;}
h5{font-size: 2.5vw;}
h6{font-size: 2vw;}

html,body{
    font-family: "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
a{
    color: inherit;
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li{
        margin: 0;
        padding: 0;
    }
}
/**** MB BUTTONS ****/
input, 
input:active, 
input:focus {     
    outline: 0;     
    outline-style: none;     
    outline-width: 0; 
}
.mb-btn{
    border: none;
    background: rgba(255,255,255,0.3);
    border-width: 1px;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    line-height: 22px;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 13px;
    padding-right: 13px;
    white-space: nowrap;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.mb-btn-especial{
    background-size: $cor-orange-1 !important;
}
.mb-logo{
    cursor: pointer;
    opacity: .8;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
}

.mb-logo:hover{
    opacity: 1;
}
.mb-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-perspective: 1200px;
    perspective: 1200px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.mb-section{
    padding-left: 1vw;
    padding-right: 1vw;
    width: 100%;
}
.mb-page{
    height: 100%;
    position: absolute;
    width: 100%;
    visibility: hidden;
}
.mb-page-current{
    visibility: visible;
    z-index: 1;
}
.mb-page-1{
    background-image: url("../images/slider1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.mb-page-5{ 
    background: $cor-black-1;
}
/**** MB HEADER ****/
header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: .5em;
    padding-bottom: .5em;
    position: absolute;
    padding-left: 1vw;
    padding-right: 1vw;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}
.mb-contact{
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: .9em;
}
.mb-ul-vertical{
    display: flex;
    flex-direction: column;
    li:not(:last-child){
        margin-right: 1em;
    }
    span{
        color: rgba($cor-black-1, .7);
    }
}
.mb-float{
    align-items: center;
    justify-content: center;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
/**** MB BOODY ****/
.mb-body{
    align-items: center;
    color: $cor-white-1;
    display: flex;
    justify-content: center;
    height: 100%;
}
.mb-body-logo{
    /*-webkit-animation: move-left .4s ease both;
    animation:  move-left .4s ease both;
    -webkit-animation-delay: .4s;*/
    animation-delay: .4s;
    height: 100%;
}
#mb-logo-principal{
}
.mb-body-title{
    /*text-align: left;
    -webkit-animation: move-right .4s ease both;
    animation:  move-right .4s ease both;*/
    margin-left: 50px;
}
/**** MB FOOTER ****/
.mb-footer{
    background: $cor-black-1;
    bottom: 0;
    color: $cor-white-1;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .5em;
    position: absolute;
     -webkit-animation: move-top .4s ease both;
    animation:  move-top .4s ease both;
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
    .mb-foot-contact{
        cursor: pointer !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
/**** LOGO ****/
.mb-logo-svg{
    height: 30px;
    margin-bottom: .5em;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    polygon,path{
        fill: $cor-red-1;
    }
}
.mb-cube-container{
    height: 100%;
}
.mb-cube > .mb-cube-stroke > path{
    fill: white;
}
.mb-cube > polygon{
    
}
.mb-cube{
    opacity: 0;
    -webkit-animation-name: translate-cube-in;
    -webkit-animation-duration: 1.75s;
    -webkit-animation-delay: 0s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;

    animation-name: translate-cube-in;
    animation-duration: 1.75s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
/**** MB ANIMATIONS ****/
.mb-page-moveToTop {
    -webkit-animation: moveToTop .4s ease both;
    animation: moveToTop .4s ease both;
}
.mb-page-moveFromBottom {
    -webkit-animation: moveFromBottom .4s ease both;
    animation: moveFromBottom .4s ease both;
}
.mb-page-moveToBottom {
    -webkit-animation: moveToBottom .4s ease both;
    animation: moveToBottom .4s ease both;
}
.mb-page-moveFromTop {
    -webkit-animation: moveFromTop .4s ease both;
    animation: moveFromTop .4s ease both;
}
.mb-cube:nth-child(2){
    -webkit-animation-delay: .25s, 5.25s;
    animation-delay: .25s, 5.25s;
}
.mb-cube:nth-child(5){
    -webkit-animation-delay: .5s, 5.50s;
    animation-delay: .5s, 5.50s;
}
.mb-cube:nth-child(6){
    -webkit-animation-delay: .75s, 5.75s;
    animation-delay: .75s, 5.75s;
}
.mb-cube:nth-child(7){
    -webkit-animation-delay: 1s, 6s;
    animation-delay: 1s, 6s;
}
.mb-cube:nth-child(8){
    -webkit-animation-delay: 1.25s, 6.25s;
    animation-delay: 1.25s, 6.25s;
}
.mb-cube:nth-child(3){
    -webkit-animation-delay: 1.5s, 6.50s;
    animation-delay: 1.5s, 6.50s;
}
.mb-cube:nth-child(4){
    -webkit-animation-delay: 1.75s, 6.75s;
    animation-delay: 1.75s, 6.75s;
}
@-webkit-keyframes moveToTop {
    from { }
    to { -webkit-transform: translateY(-100%); }
}
@keyframes moveToTop {
    from { }
    to { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}
@-webkit-keyframes moveFromBottom {
    from { -webkit-transform: translateY(100%); }
}
@keyframes moveFromBottom {
    from { -webkit-transform: translateY(100%); transform: translateY(100%); }
}
@-webkit-keyframes moveToBottom {
    from { }
    to { -webkit-transform: translateY(100%); }
}
@keyframes moveToBottom {
    from { }
    to { -webkit-transform: translateY(100%); transform: translateY(100%); }
}
@-webkit-keyframes moveFromTop {
    from { -webkit-transform: translateY(-100%); }
}
@keyframes moveFromTop {
    from { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}
@-webkit-keyframes move-right {
    from { opacity: 0;-webkit-transform: translateX(0);transform: translateX(0);}
    to { opacity: 1;-webkit-transform: translateX(50px);transform: translateX(50px); }
}
@keyframes move-right {
    from { opacity: 0;-webkit-transform: translateX(0);transform: translateX(0);}
    to { opacity: 1;-webkit-transform: translateX(50px);transform: translateX(50px); }
}
@-webkit-keyframes move-left {
    from { opacity: 0;-webkit-transform: translateX(0);transform: translateX(0);}
    to { opacity: 1;-webkit-transform: translateX(-50px);transform: translateX(-50px); }
}
@keyframes move-left {
    from { opacity: 0;-webkit-transform: translateX(0);transform: translateX(0);}
    to { opacity: 1;-webkit-transform: translateX(-50px);transform: translateX(-50px); }
}
@-webkit-keyframes move-top {
    from {-webkit-transform: translateY(100%);transform: translateY(100%);}
    to {;-webkit-transform: translateY(0);transform: translateY(0); }
}
@keyframes move-top {
    from {;-webkit-transform: translateY(100%);transform: translateY(100%);}
    to {;-webkit-transform: translateY(0);transform: translateY(0); }
}
@keyframes change-color-cube-fill{
    0%{}
    20%,100%{fill: #ff2828;}
}
@keyframes translate-cube-in{
    0%{
        opacity:0;
        transform: translateY(-200%);
    }
    30%{
        opacity:1;
        transform: translateY(10%)
    }
    70%,100%{
        opacity:1;transform: translateY(-10%)
    }
}
@keyframes translate-cube-out{
    0%{
        opacity:1;
        transform: translateY(-10%);
    }
    30%{
        opacity:1;
        transform: translateY(10%)
    }
    70%,100%{
        opacity:0;
        transform: translateY(200%);
    }
}
@keyframes spin-cube{
    0%{
        opacity:1;
        transform: translateY(0);
    }
    30%{
        opacity:1;
        transform: translateY(-10%)
    }
    70%,100%{
        opacity:1;
        transform: translateY(0)
    }
}
@-webkit-keyframes change-color-cube {
    0%,32% {fill: #0074c1;}
    33%,65% {fill: #f2992e;}
    66%,99% {fill: #ff2828;}
    100% {fill: #0074c1;}
}
@keyframes change-color-cube {
    0%,32% {fill: #0074c1;}
    33%,65% {fill: #f2992e;}
    66%,99% {fill: #ff2828;}
    100% {fill: #0074c1;}
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    
}
