// $icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Pacifico);

// mb fonts
$font-pacifico: 'Pacifico', cursive;
$font-lato: 'Lato', Calibri, Arial, sans-serif;
$font-gibson: url("../fonts/Gibson-SemiBold-webfont.woff");

@font-face{
    font-family: "gibson";
    src: url("../fonts/Gibson-SemiBold-webfont.woff");
}

.mb-font-pacific{
    font-family: $font-pacifico;
}

// mbx colors
$cor-red-1: #FF3333;
$cor-blue-1: #425584;
$cor-acero-1: #36465d;
$cor-yellow-1: #FFCC66;
$cor-orange-1: #f2992e;
$cor-orange-2: #b85041;
$cor-black-1: #2d2d2d;
$cor-white-1: #f4f4f4;
$cor-purple-1: #7a54a7;
$cor-green-1: #56bc8a;
$cor-fux-1: #cc006a;
.mb-cor-white{color: $cor-white-1 !important;}
.mb-cor-orange{color: $cor-orange-1 !important;}
.mb-cor-block{color: $cor-orange-2 !important;}
.mb-cor-black{color: $cor-black-1 !important;}
.mb-cor-purple{color: $cor-purple-1 !important;}
.mb-cor-fux{color: $cor-fux-1 !important;}
.mb-cor-blue{color: $cor-blue-1 !important;}
.mb-cor-green{color: $cor-green-1 !important;}
.mb-fill-white{
    .mb-mubox-content{
        fill: $cor-white-1;
    }
}
.mb-fill-orange{
   .mb-mubox-content{
        fill: $cor-orange-1;
    } 
}
.mb-fill-black{
    .mb-mubox-content{
        fill: $cor-black-1;
    }
}
.mb-fill-purple{
    .mb-mubox-content{
        fill: $cor-purple-1;
    }
}
.mb-fill-fux{
    .mb-mubox-content{
        fill: $cor-fux-1;
    }
}
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@function shadow($mb-shadow) {
    @if $mb-shadow == 1 {
        @return 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    } @else if $mb-shadow == 2{
        @return 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    } @else if $mb-shadow == 3{
        @return 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    } @else if $mb-shadow == 4{
        @return 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }@else{
        @return 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
}
@mixin mb-gradient-1($start-cor, $end-cor) {
    background-image: -o-linear-gradient(bottom, $start-cor 0%, $end-cor 99%);
    background-image: -moz-linear-gradient(bottom, $start-cor 0%, $end-cor 99%);
    background-image: -webkit-linear-gradient(bottom, $start-cor 0%, $end-cor 99%);
    background-image: -ms-linear-gradient(bottom, $start-cor 0%, $end-cor 99%);
    background-image: linear-gradient(to bottom, $start-cor 0%, $end-cor 99%);
}
small{
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    font-family: "gibson";
    font-weight: 700;
    margin: .5em;
    padding:0;
    text-align: center;
}
h1{font-size: 120px;}
h2{font-size: 80px;}
h3{font-size: 60px;}
h4{font-size: 50px;}
h5{font-size: 40px;}
h6{font-size: 30px;}

p{
    //text-align: justify;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 18px;
    font-weight: 100;
}

html,body{
    font-family: "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;;
    font-size: 16px;
    font-family: "roboto";
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li{
        margin: 0;
        padding: 0;
        transition: all .4s ease-in-out;
    }
}
/**** MB BUTTONS ****/
input, 
input:active, 
input:focus {     
    border: none;
    margin: 0 !important;
    outline: 0;     
    outline-style: none;     
    outline-width: 0;
    border: none;
    margin: 0;
}
textarea{
    border: none;
}
.mb-btn{
    border: none;
    background: rgba(255,255,255,1);
    border-width: 1px;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    line-height: 22px;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 13px;
    padding-right: 13px;
    white-space: nowrap;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.mb-btn-especial{
    background-color: $cor-orange-1 !important;
}
.mb-logo{
    cursor: pointer;
    opacity: .8;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
}

.mb-logo:hover{
    opacity: 1;
}
.mb-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-perspective: 1200px;
    perspective: 1200px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.mb-section{
    color: $cor-white-1;
    padding-left: 1vw;
    padding-right: 1vw;
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.mb-page{
    height: 100%;
    position: absolute;
    width: 100%;
    visibility: hidden;
    background-color: $cor-white-1;
}
.mb-page-current{
    visibility: visible;
    z-index: 1;
    .mb-ico{
        opacity: 0;
        animation-name: translate-text-rigth;
        animation-duration: .7s;
        animation-delay: .2s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    .mb-title{
        opacity: 0;
        animation-name: translate-text-left;
        animation-duration: .7s;
        animation-delay: .2s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    .mb-paragraph{
        opacity: 0;
        animation-name: translate-text-rigth;
        animation-duration: .7s;
        animation-delay: .2s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    .mb-ul-list{
        opacity: 0;
        animation-name: translate-text-top;
        animation-duration: .7s;
        animation-delay: .2s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    .mb-ul-list>li{
        animation-name: translate-text-top;
        animation-duration: .7s;
        animation-delay: .2s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    .mb-ul-list>li:nth-child(2){
        animation-delay: .4s;
    }
    .mb-ul-list>li:nth-child(3){
        animation-delay: .6s;
    }
    .mb-ul-list>li:nth-child(4){
        animation-delay: .8s;
    }
}
.mb-page-1{
    background-image: url('../images/mb.wall.3.jpg');
}
.mb-page-2{
    background-color: $cor-orange-1;
}
.mb-page-3{
    background-color: $cor-green-1;
}
.mb-page-4{
    background-color: $cor-orange-2;
}
.mb-page-5{
    background-color: $cor-blue-1;
}
.mb-page-6{ 
    background: $cor-purple-1;
}
.mb-page-7{
    background: $cor-black-1;
}
/**** MB HEADER ****/
header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: .5em;
    padding-bottom: .5em;
    position: absolute;
    padding-left: 1vw;
    padding-right: 1vw;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}
.mb-header{
    padding-top: 70px;
    position: relative;
}
.mb-icon-header{
    height: 50px;
    width: 90px;
    cursor: pointer;
}
.mb-mubox-shadow{
    fill: $cor-orange-1;
}
.mb-contact{
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: .9em;
}
.mb-ul-vertical{
    display: flex;
    flex-direction: column;
    li:not(:last-child){
        margin-right: 1em;
    }
    span{
        opacity: .7;
    }
}
.mb-ul-horizontal{
    display: flex;
    justify-content: space-between;
    li{
        text-align: center;
        width: 200px;
        color: #8e8e8e;
        h6{
            margin-top: 1em;
            font-size: 1.5vh !important;
        }
    }
}
.mb-ul-list{
    font-size: 18px;
    margin-top: 1em;
    margin-left: 1.2em;
    line-height: 30px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    li{
        opacity: 0;
        align-items: center;
        background-color: $cor-white-1;
        border-radius: 4px;
        color: $cor-black-1;
        width: 280px;
        padding: .5em;
        -webkit-box-shadow: 10px 10px 0px 0px rgba($cor-black-1, 0.75);
        -moz-box-shadow: 10px 10px 0px 0px rgba($cor-black-1, 0.75);
        box-shadow: 10px 10px 0px 0px rgba($cor-black-1, 0.75);
    }
    li:not(:last-child){
        margin-right: 1em;
    }
}
.mb-ul-block{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    margin-top: 2em;
    li{
        align-items: center;
        width: 260px;
        height: 130px;
        display: flex;
        flex-direction: column;
        text-align: left;
        .mb-prin-ico{
            width: 60px;
            background-color: red;
        }
        .mb-prin{
            display: flex;
            flex-direction: column;
            margin-left: 1em;
            text-align: left;
            justify-content: left;
            h6{
                font-size: 20px;
                margin-bottom: .5em;
            }
            p{
                margin-top: 0em;
                font-size: 16px;
                text-align: left;
            }
        }
    }
}
.mb-float{
    align-items: center;
    justify-content: center;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.mb-img{
    position: absolute;
    left: auto;
    right: 0%;
    top: -25px;
    z-index: 0;
}
.mb-img-wrap{
    background-color: rgba($cor-black-1,.3);
    background-image: url("../images/overlay.png");
    background-repeat: repeat;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
/**** MB BOODY ****/
.mb-body{
    height: 100%;
    position: relative;
}
.mb-body-content{
    height: calc(100vh - 420px);
}
.mb-title-content{
    margin-bottom: 2vh;
}
.mb-header-logo{
    animation-delay: .4s;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 2em;
    position: relative;
}
.mb-flex{
    align-items: center;
    display: flex;
    justify-content: center;
}
.mb-column{
    flex-direction: column;
}
.mb-column-title {
    width: 100%;
    justify-content: left !important;
}
.mb-column-30{
    width: 30vw;
}
.mb-column-40{
    width: 40vw;
}
.mb-column-50{
    width: 50vw;
}
.mb-column-60{
    width: 60vw;
}
.mb-column-70{
    width: 70vw;
}
.mb-column-100{
    width: 100vw;
}
.mb-row-50{
    height: 100vh;
}
.mb-row-100{
    height: 100vh;
}
.mb-text-center{
    text-align: center;
}
/*.mb-text-in-1{
    .mb-title{
        animation-name: translate-text-left;
        animation-duration: .7s;
        animation-delay: 1s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }
    .mb-paragraph{
        animation-name: translate-text-rigth;
        animation-duration: .7s;
        animation-delay: 1s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }
}*/
.mb-margin-rigth{
    padding-right: 2em;
    margin-right: 2em;
}
.mb-margin-top{
    padding-top: 2em;
    margin-top: 2em;
}
.mb-form{
    flex-wrap: wrap;
    justify-content: space-between;
}
.mb-form-column{
    flex-direction: column;
}
.mb-form-label{
    font-size: 18px;
    span{
        font-size: .7em;
        opacity: .6;
    }
}
.mb-form-check{
    align-items: center;
    display: flex;
    margin-top: .5em;
    input{
        margin-right: 1em;
    }
}
.mb-form-control{
    position: relative;
    margin-bottom: 2em;
    width: 49%;
    .mb-form-label{
        bottom: 0;  
        left: 0;
        pointer-events: none;
        position: absolute;
        transition: all .4s ease-in-out;
    }
    .mb-form-bar{
        background: $cor-orange-1;
        border-radius: 2px;
        width: 0;
        height: 3px;
        transition: all .4s ease-in-out;
    }
    .mb-form-bar:after{
        content: "";
    }
}
.mb-form-input{
    background: transparent;
    //border-bottom: 4px solid rgba($cor-orange-1,.5);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    display: block;
    font-size:18px;
    height: 40px;
    width: 100%;
}
.mb-form-input:focus{
    outline: none;
}
.mb-form-input:focus ~ label,.mb-form-input:valid ~ label{
    transform: translateY(-32px);
}
.mb-form-input:focus ~ .mb-form-bar,.mb-form-input:valid ~ .mb-form-bar{
    width: 100%;
}
.mb-form-control-column{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mb-form-text{
    background: transparent;
    border: 1px solid rgba($cor-white-1,.5);
    border-radius: 4px;
    font-size: 16px;
    height: 15vh;
    width: 100%;
}
/**** MB FOOTER ****/
.mb-footer{
    //background-color: $cor-orange-1;
    bottom: 0;
    color: $cor-orange-1;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .5em;
    position: absolute;
     -webkit-animation: move-top .4s ease both;
    animation:  move-top .4s ease both;
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
    width: 100vw;
    .mb-foot-contact{
        cursor: pointer !important;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 !important;
        small{
            color: rgba($cor-white-1,1);
        }
    }
}
/**** LOGO ****/
.mb-logo-svg{
    height: 30px;
    margin-bottom: .5em;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    polygon,path{
        fill: $cor-red-1;
    }
}
.mb-cube-container{
    //height: 100%;
}
.mb-cube > .mb-cube-stroke > path{
    fill: white;
}
.mb-cube > polygon{
    
}
.mb-cube-container{
    height: 100%;
}
.mb-mubox{
    opacity: 0;
    -webkit-animation-name: translate-cube-in;
    -webkit-animation-duration: 1.25s;
    -webkit-animation-delay: 0s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;

    animation-name: translate-cube-in;
    animation-duration: 1.25s;
    animation-delay: 0s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
.mb-cube{
    opacity: 0;
    -webkit-animation-name: translate-cube-in;
    -webkit-animation-duration: 1.75s;
    -webkit-animation-delay: 0s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;

    animation-name: translate-cube-in;
    animation-duration: 1.75s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.mb-cube:nth-child(2){
    -webkit-animation-delay: .25s;
    animation-delay: .25s;
}
.mb-cube:nth-child(4){
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}
.mb-cube:nth-child(3){
    -webkit-animation-delay: .75s;
    animation-delay: .75s;
}
.mb-cube:nth-child(5){
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.mb-cube:nth-child(6){
    -webkit-animation-delay: 1.25s;
    animation-delay: 1.25s;
}
.mb-cube:nth-child(8){
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
.mb-cube:nth-child(7){
    -webkit-animation-delay: 1.75s;
    animation-delay: 1.75s;
}
.mb-mubox:nth-child(2){
    -webkit-animation-delay: .25s, 2.75s;
    animation-delay: .25s, 2.75s;
}
.mb-mubox:nth-child(3){
    -webkit-animation-delay: .5s, 3s;
    animation-delay: .5s, 3s;
}
.mb-mubox:nth-child(4){
    -webkit-animation-delay: .75s, 3.25s;
    animation-delay: .75s, 3.25s;
}
.mb-mubox:nth-child(5){
    -webkit-animation-delay: 1s, 3.5s;
    animation-delay: 1s, 3.5s;
}
.mb-mubox:nth-child(6){
    -webkit-animation-delay: 1.25s, 3.75s;
    animation-delay: 1.25s, 3.75s;
}
/**** MB ANIMATIONS ****/
.mb-page-moveToTop {
    -webkit-animation: moveToTop .4s ease both;
    animation: moveToTop .4s ease both;
}
.mb-page-moveFromBottom {
    -webkit-animation: moveFromBottom .4s ease both;
    animation: moveFromBottom .4s ease both;
}
.mb-page-moveToBottom {
    -webkit-animation: moveToBottom .4s ease both;
    animation: moveToBottom .4s ease both;
}
.mb-page-moveFromTop {
    -webkit-animation: moveFromTop .4s ease both;
    animation: moveFromTop .4s ease both;
}
@-webkit-keyframes moveToTop {
    from { }
    to { -webkit-transform: translateY(-50%); }
}
@keyframes moveToTop {
    from { }
    to { 
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}
@-webkit-keyframes moveFromBottom {
    from { -webkit-transform: translateY(100%); }
}
@keyframes moveFromBottom {
    from{ 
        -webkit-transform: translateY(100%);
        transform: translateY(100%); 
    }
}
@-webkit-keyframes moveToBottom {
    from { }
    to { -webkit-transform: translateY(100%); }
}
@keyframes moveToBottom {
    from { }
    to { -webkit-transform: translateY(100%); transform: translateY(100%); }
}
@-webkit-keyframes moveFromTop {
    from { -webkit-transform: translateY(-100%); }
}
@keyframes moveFromTop {
    from { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}
@-webkit-keyframes move-right {
    from { opacity: 0;-webkit-transform: translateX(0);transform: translateX(0);}
    to { opacity: 1;-webkit-transform: translateX(50px);transform: translateX(50px); }
}
@keyframes move-right {
    from { opacity: 0;-webkit-transform: translateX(0);transform: translateX(0);}
    to { opacity: 1;-webkit-transform: translateX(50px);transform: translateX(50px); }
}
@-webkit-keyframes move-left {
    from { opacity: 0;-webkit-transform: translateX(0);transform: translateX(0);}
    to { opacity: 1;-webkit-transform: translateX(-50px);transform: translateX(-50px); }
}
@keyframes move-left {
    from { opacity: 0;-webkit-transform: translateX(0);transform: translateX(0);}
    to { opacity: 1;-webkit-transform: translateX(-50px);transform: translateX(-50px); }
}
@-webkit-keyframes move-top {
    from {-webkit-transform: translateY(100%);transform: translateY(100%);}
    to {;-webkit-transform: translateY(0);transform: translateY(0); }
}
@keyframes move-top {
    from {;-webkit-transform: translateY(100%);transform: translateY(100%);}
    to {;-webkit-transform: translateY(0);transform: translateY(0); }
}
@keyframes translate-cube-in{
    0%{
        opacity:0;
        transform: translateY(-200%);
    }
    30%{
        opacity:1;
        transform: translateY(10%)
    }
    70%,100%{
        opacity:1;transform: translateY(-10%)
    }
}
@keyframes spin-cube{
    0%{
        opacity:1;
        transform: translateY(0);
    }
    30%{
        opacity:1;
        transform: translateY(-10%)
    }
    70%,100%{
        opacity:1;
        transform: translateY(0)
    }
}
@keyframes translate-text-left{
    from{
        opacity: 0;
        -webkit-transform: translateX(-15%);
    }
    to{
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}
@keyframes translate-text-rigth{
    from{
        opacity: 0;
        -webkit-transform: translateX(15%);
    }
    to{
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}
@keyframes translate-text-top{
    from{
        opacity: 0;
        -webkit-transform: translateY(15%);
    }
    to{
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@keyframes translate-text-botton{
    from{
        opacity: 0;
        -webkit-transform: translateY(-15%);
    }
    to{
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    
}
